.team-heading-section > h2 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.team-heading-section > h2 > span {
  color: rgb(192, 17, 40);
}

.team-heading-section > h4 {
  margin-bottom: 30px;
}
