@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Montserrat:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap");

li {
  list-style-type: none;
}

.nav {
  background-color: rgb(255, 255, 255);
}

.logo-1 {
  width: 135px;
  height: 70px;
}

.logo-2 {
  margin-top: 5px;
  width: 160px;
  height: 70px;
}

.logo-3 {
  height: 70px;
  width: 160px;
}

.nav-btn {
  margin-top: 20px;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  color: #fff;
  text-align: center;
}

.content > h1 {
  /* color: #12486B; */
  color: #419197;
  /* margin-top: 200px; */
  font-family: "Cormorant Garamond", serif;
  font-family: "Montserrat", sans-serif;
}

.content > p {
  color: #419197;
  color: #333635d0;
  font-weight: bold;
}

img {
  width: 100px;
}

.about-content {
  background-color: #ffffff;
}

.about-content > h2 {
  text-align: center;
}

/* .card-wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 20rem;
  margin-bottom: 2rem;
  background-color: #d4dbdb;
  border: none;
}

.card > img {
  padding-top: 2rem;
  width: 15rem;
  height: 300px;
  margin: auto;
  
}

center {
  margin-bottom: 1rem;
  font-family: "Alegreya", serif;
}

.card-title {
  text-align: center;
} */

.card-wrapper > div {
  border: 1px solid rgb(224, 215, 215);
  border-radius: 8px;
  margin-bottom: 40px;
}

.card {
  border: none;
}

.card-main-heading {
  font-family: "Alegreya", serif;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.card-title {
  text-align: center;
}

.card > img {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 10px;
}
.card-btn {
  background-color: rgb(128, 124, 119);
  color: black;
}

.about-img {
  width: 450px;
}

.section-cards {
  margin-top: 130px;
  margin-bottom: 100px;
}



@media only screen and (min-width: 992px) {
  .logo-1 {
    width: 255px;
    height: 120px;
    margin-left: 2rem;
  }

  .logo-2 {
    width: 280px;
    height: 120px;
    margin-right: 2rem;
  }

  .content > h1 {
    font-size: 80px;
    margin-top: 100px;
  }

  .content > p {
    font-size: 25px;
  }

  .card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
  }

  .card {
    width: 400px;
    background-color: #ffffff;
  }

  .card > img {
    height: 20rem;
  }

  
}

@media only screen and (min-width: 600px) {
 

@media only screen and (max-width: 600px) {
  .content > h1 {
    font-size: 35px;
    font-family: "Cormorant Garamond", serif;
    font-family: "Montserrat", sans-serif;
  }

  .content > p {
    font-size: 13px;
  }

  .card-wrapper > div {
    border: 1px solid rgb(243, 239, 239);
    background-color: #faf8f8;
    border-radius: 8px;
    margin: auto;
    width: 350px;
    margin-top: 40px;
  }
  .card {
    margin: auto;
    background-color: #faf8f8;
  }

  .card > img {
    height: 21rem;
  }

  
}

.hero-1 {
  margin-top: 60px;
  padding-bottom: 50px;
}

.hero-1 > img {
  width: 800px;
  height: 500px;
}

.hero-content > h1 {
  /* margin: 150px; */
  text-align: center;
  margin-top: 150px;
}

.box-1 {
  display: inline-block;
  position: relative;
  padding: unset;
  margin-top: 90px;
}

.box-2 {
  background-color: rgb(55, 146, 75);
  padding: unset;
}

.about-wrapper {
  margin-top: 10px;
}

.about-content > h2 {
  font-family: "Roboto", sans-serif;
  margin-top: 70px;
}

.about-content > p {
  margin-top: 30px;
  font-family: "Martian Mono", monospace;
  text-align: center;
  font-size: 15px;
}

footer {
  margin-top: 120px;
  background-color: #088dcf;
  padding-top: 40px;
}
