@media only screen and (max-width: 600px) {
  .research-section {
    margin-bottom: 50px;
  }
  .research-images {
    margin-top: 50px;
  }
  .research-contents h3 {
    text-align: center;
    margin-top: 70px;
  }

  .research-contents p {
    margin-top: 30px;
    color: black;
    text-align: left;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .research-section {
    background-color: rgb(254, 255, 255);
    height: 100%;
    margin-bottom: 50px;
  }
  .research-images {
    background-color: rgb(255, 255, 255);
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
  }
  .research-contents h3 {
    margin-top: 50px;
    text-align: center;
  }

  .research-contents p {
    margin-top: 30px;
    color: black;
    text-align: left;
  }
}

.research-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.research-heading > h3 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}


.t1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box-1 {
  margin: 4px;
}

.tb > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 20px;
}

.box-2 {
  margin: 4px;
}

.box-3 {
  margin: 4px;
}

.box-4 {
  margin: 4px;
}
.research-contents {
  margin: 10px;
}

.research-contents h3 {
  font-family: "Roboto", sans-serif;
}

.research-contents p {
  margin-top: 30px;
  color: black;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.accordian-section {
  margin-bottom: 30px;
}

.accordion-item{
  margin-top: 20px;
}
