@media only screen and (max-width: 600px) {
  .research-heading h4 {
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .g-box-1 img:hover,
  .g-box-2 img:hover {
    transform: scale(1.1);
    /* opacity: 0.3; */
  }
}

@media only screen and (min-width: 992px) {
  .g-box-1 img:hover,
  .g-box-2 img:hover {
    transform: scale(1.1);
    /* opacity: 0.3; */
  }
}

@media only screen and (min-width: 1200px) {
  .g-box-1 img:hover,
  .g-box-2 img:hover {
    transform: scale(1.1);
    /* border-radius: 20px; */
    /* opacity: 0.3; */
  }
}

.images-section {
  background-color: rgb(255, 255, 255);
}

.g-box-2 img,
.g-box-1 img {
  /* padding: unset; */
  object-fit: cover;
  /* margin-bottom: 10px; */

  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.g-box-1 {
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden;
  /* border-radius: 20px; */
}

.g-box-2 {
  height: 240px;
  margin-bottom: 20px;
  overflow: hidden;
}
/* 
.g-box-1:hover {
  border-radius: 20px;
  transition: 0.3s;
}
.g-box-2:hover {
  border-radius: 20px;
  transition: 0, 3s;
} */
