@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

.images-section {
  background-color: rgb(255, 255, 255);
}

.g-box-2 img,
.g-box-1 img {
  /* padding: unset; */
  object-fit: cover;
  /* margin-bottom: 10px; */

  height: 100%;
  width: 100%;
  transition: 0.3s ease-out;
}

.g-box-1 img:hover,
.g-box-2 img:hover {
  transform: scale(1.1);
  /* opacity: 0.3; */
}

.g-box-1 {
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden;
}

.g-box-2 {
  height: 240px;
  margin-bottom: 20px;
  overflow: hidden;
}
